<div class="entry">
            <h1 class="noun">
                {{noun}}
            </h1>
            <p class="description">
                {{description}}
            </p>
            <img src={{image}} alt="Logo">
</div>