<div class="entry">
            <h1 class="noun">
                {{noun}}
            </h1>
            <h3 class="franchise">
                {{franchise}}
            </h3>
            <p class="description">
                {{description}}
            </p>
            <img src={{image}} alt="image">
</div>