<div class="entry">
    <h1 class="noun">
        ERROR!
    </h1>
    <p class="description">
        No data recorded. Double check your search or try something else.
    </p>
    <img src="sadge.jpg" alt="Logo">
</div>