<div class="entry">
    <h1 class="noun">
        ERROR!
    </h1>
    <p class="description">
        "Perhaps the archives are incomplete" -Obi-Wan Kenobi
    </p>
    <img src="images/sadge.jpg" alt="Logo">
</div>